{% extends "base.html" %}
{% block content %}
		<h2>Knut - Testy wiedzy</h2>
		<p>Aby rozpocząć rozwiązywanie testów pobierz i zainstaluj program <a href="/k/apps/Knut-1.xo">Knut Activity</a> na platformę sugar.</p>
		<p>Jeśli chcesz układać testy pobierz i zainstaluj program <a href="/k/apps/knutapp_0.1-1_all.deb">Knut App</a>.</p>
		<p>Do współdzielenia testów na serwerze knutest.org wymagane jest konto. W celu założenia nowego konta napisz do <a href="mailto:wiktor.idzikowski@gmail.com">Administratora</a>.</p>
{% endblock %}