<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Knut - Test wiedzy</title>
</head>
<body>
<div style="margin-left:auto; margin-right:auto; width:700px;">
    <div id="content">
    <h1>Knut - Testy wiedzy</h1>
    Aby rozpoczac prace z Knutem pobierz edytor testow.
    <a href="/files/knut.txt">Knut wersja 0.0.1</a>
    <div style="margin-top:50px; margin-left:180px;">
        <a href="/categories">Katalog testow</a>
    </div>
    </div>
</div>

</body>
</html>
